@import "tailwindcss";

@config "../tailwind.config.js";

:root {
    --main-color: #00AB6B;
    --main-hover-color: #009960;
    --sub-color: #B88746;
    --border-color: rgb(233 223 206);
}

body {
    -ms-overflow-style: none;
    font-family: "Plus Jakarta Sans", "Noto Sans", "Noto Sans KR", serif !important;
}

body::-webkit-scrollbar {
    display: none;
}

.h-menu-item {
    @apply text-[#1C160C] text-sm font-medium leading-normal;
}

.slide-item-box {
    @apply relative aspect-[16/9] cursor-pointer overflow-hidden rounded-md border-2;
}

.slide-number {
    @apply absolute bottom-1 left-1 bg-black/50 px-1 rounded text-white text-xs;
}

.lyrics-mode-tab {
    @apply flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#B88746] pb-[13px] pt-4 cursor-pointer;
}

.mode-on {
    @apply border-b-[#00AB6B] text-[#1C160C];
}

.mode-text {
    @apply text-sm font-bold leading-normal;
}

.input {
    @apply flex h-10 w-full rounded-md border border-gray-200 py-2 text-sm disabled:cursor-not-allowed disabled:opacity-50;
}

.icon-btn{
    @apply size-10 rounded-lg cursor-pointer hover:bg-gray-100 transition-colors;
}

.labeled-input-label{
    @apply font-semibold absolute left-3 top-1/2 -translate-y-1/2 text-xs text-gray-500;
}

/* color input 스타일 */
.color-input {
    @apply w-10 h-10 border border-gray-200 rounded-lg flex-shrink-0; /* 정사각형 유지 */
}

.color-input::-webkit-color-swatch {
    border-radius: 50%; /* 내부 색상 선택 원을 정확한 원으로 만듦 */
    border: none;
}

.color-input::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}

/* text input 스타일 */
.text-input {
    @apply flex-1 h-10 rounded-md border border-gray-200 px-3 py-2 text-sm;
}





