@import "tailwindcss";
@config "../tailwind.config.js";

:root{
    --main-color: #00AB6B;
    --main-hover-color: #009960;
    --sub-color:#B88746;
    --border-color:rgb(233 223 206);
}

body{
    font-family: "Plus Jakarta Sans", "Noto Sans","Noto Sans KR", serif;
}

.h-menu-item{
    @apply text-[#1C160C] text-sm font-medium leading-normal;
}






